<% if (locals.errors) { %>
<ul class="validation-error">
  <% errors.forEach(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %> <% if (locals.authenticationError) { %>
<ul class="authentication-error">
  <li><%= authenticationError %></li>
</ul>
<% } %>
