<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('partials/global-styles') %>
  <link rel="stylesheet" href="/styles/create-post.css">
  <title>Create Post | Members Only</title>
</head>
<body>
  <%- include('partials/header') %>
  <%- include('partials/flash-messages') %>
  <main>
    <h2>Create a new post</h2>
    <section class="create-post-container">
      <form action="/post/create" method="post">
        <%- include('partials/errors') %>
        <label>
          Title
          <input type="text" name="title" required maxlength="255">
        </label>
        <label>
          Text
          <textarea name="postText" required></textarea>
        </label>
        <button type="submit">Create post</button>
      </form>
    </section>
  </main>
</body>
</html>