<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log-in</title>
  </head>
  <body>
    <h1>Log in</h1>
    <form method="post">
      <input type="email" name="username" placeholder="Email" maxlength="255" required />
      <input type="password" name="password" placeholder="Password" maxlength="255" required />
      <button>Submit</button>
    </form>
    <a href="/auth/google">Log in with google</a>
  </body>
</html>
