<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('partials/global-styles') %>
    <link rel="stylesheet" href="/styles/member.css">
    <title>Membership | Members Only</title>
  </head>
  <body>
    <%- include('partials/header') %>
    <main>
      <section>
        <h2>Become a member by entering the secret passcode!</h2>
      </section>
      <form method="post">
        <%- include('partials/errors') %>
        <div class="form-content">
          <label>
            Passcode
            <input type="text" name="memberPass" required >
          </label>
          <button>Submit</button>
        </div>
      </form>
    </main>
  </body>
</html>