<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('partials/global-styles') %>
    <link rel="stylesheet" href="/styles/sign-up.css" />
    <title>Sign up | Members Only</title>
  </head>
  <body>
    <%- include('partials/header') %>
    <main>
      <section class="form-hero">
        <h2>Sign up for free</h2>
        <p>Or <a href="/log-in">sign in to your existing account</a></p>
      </section>
      <form method="post">
        <%- include('partials/errors') %>
        <label>
          First name
          <input type="text" name="firstName" maxlength="50" required />
        </label>
        <label>
          Last name
          <input type="text" name="lastName" maxlength="50" required />
        </label>
        <label>
          Email
          <input type="email" name="username" maxlength="255" required />
        </label>
        <label>
          Password
          <input type="password" name="password" maxlength="255" required />
        </label>
        <label>
          Password confirmation
          <input type="password" name="confirmPassword" maxlength="255" required />
        </label>
        <button>Sign up</button>
      </form>
      <hr />
      <section class="google-section">
        <p>Or continue with</p>
        <a href="/auth/google" class="google-btn"
          ><img src="/images/google-icon.png" alt="Continue with google"
        /></a>
      </section>
    </main>
  </body>
</html>
