body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #865d5d;
  gap: 1rem;
  padding: 1rem;
  box-shadow: 0px 0px 10px black;
}

header > h1 {
  font-size: 1.5rem;
  font-weight: 500;
}

.header-nav {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.header-nav > a {
  text-decoration: none;
  color: white;
  position: relative;
  transition: filter 200ms ease;
  &:hover {
    filter: brightness(0.8);
  }
}

.current-page:after {
  content: "";
  display: block;
  width: 100%;
  border: 1px solid black;
  position: absolute;
  bottom: -25%;
}

.flash-messages {
  animation: fade-out 3000ms 2000ms ease-in-out 1 forwards;
  padding: 1rem;
  border-radius: 5px;
  background-color: gray;
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: block;
}

@keyframes fade-out {
  from {
    opacity: 1;
    display: block;
  }

  to {
    opacity: 0;
    display: none;
  }
}
