main {
  padding: 1rem;
}

main > section {
  padding: 1rem;
  display: grid;
  justify-items: center;
  background-color: #bc908f;
  font-size: 2rem;
  border-radius: 5px;
  margin-bottom: 2rem;
}

main > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.form-content {
  display: flex;
  gap: 1rem;
}

form label {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 1.4rem;
}

form button {
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  border: none;
  background-color: #bc908f;
  font-size: 1rem;
  font-weight: 500;
  transition: filter 200ms ease;
  cursor: pointer;
  &:hover {
    filter: brightness(0.8);
  }
}

.validation-error {
  list-style-type: disc;
}
