main {
  padding: 1rem;
}

.form-hero {
  display: grid;
  grid-template-columns: 1fr;
  gap: 7px;
  justify-items: center;
  padding: 1rem;
}

.form-hero > h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

.form-hero a {
  color: #000;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 22rem;
  gap: 10px;
}

form > label {
  display: grid;
  grid-template-columns: 1fr;
  gap: 7px;
  font-size: 1.2rem;
}

form input {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 2px black;
}

form button {
  margin-top: 10px;
  justify-self: center;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  background-color: #bc908f;
  font-size: 1.1rem;
  font-weight: 500;
  transition: filter 200ms ease;
  cursor: pointer;
  &:hover {
    filter: brightness(0.8);
  }
}

hr {
  margin: 1rem 0;
}

.google-section {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 1rem;
}

.google-section > p {
  font-size: 1.2rem;
}

.google-section > a {
  background: none;
  border: 1px solid black;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.google-section img {
  width: 40px;
}

.validation-error {
  list-style-type: disc;
  list-style-position: inside;
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
}
